.Demo1 {
  background-color: red;
}

.user {
  padding: 20px;
}

.male {
  background-color: cyan;
}

.female {
  background-color: purple;
}

.comp {
  border: 1px dashed blue;
  padding: 10px;
  margin: 10px;
}
